
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Biblioteca Digital</title>
        <link href="~/Content/StyleIndex.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    </head>
    <body>
        <div id="menu">
            <ul>
                <li class="nivel1">
                    <a class="nivel1" href="">Organigrama</a>
                    @{string OrganigramaArea = ""; string OrganigramaDep = ""; }
                    @{string OrganigramaCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.Organigrama.Rows)
                    {
                        if (OrganigramaArea.Equals(""))
                        {
                            OrganigramaCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            OrganigramaArea = @Rows[2].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            OrganigramaDep = @Rows[3].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!OrganigramaArea.Equals(@Rows[2].ToString()) && !OrganigramaDep.Equals(@Rows[3].ToString()))
                        {
                            OrganigramaCodigo += "</ul></li></ul>";
                            OrganigramaCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            OrganigramaArea = @Rows[2].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            OrganigramaDep = @Rows[3].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!OrganigramaArea.Equals(@Rows[2].ToString()))
                        {
                            OrganigramaCodigo += "</ul></li></ul>";
                            OrganigramaCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            OrganigramaArea = @Rows[2].ToString();
                            OrganigramaCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            OrganigramaDep = @Rows[3].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!OrganigramaDep.Equals(@Rows[3].ToString()))
                        {
                            OrganigramaCodigo += "</ul></li>";
                            OrganigramaCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            OrganigramaDep = @Rows[3].ToString();
                            OrganigramaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            OrganigramaCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!OrganigramaCodigo.Equals(""))
                    {
                        OrganigramaCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var OrganigramamyHtmlString = new HtmlString(@OrganigramaCodigo);}
                    @OrganigramamyHtmlString
                </li>
                <li class="nivel1">
                    <a class="nivel1">Descripción <br />de puestos</a>
                    @{string DescPuestoArea = ""; string DescPuestoDep = ""; }
                    @{string DescPuestoCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.DescPuestos.Rows)
                    {
                        if (DescPuestoArea.Equals(""))
                        {
                            DescPuestoCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            DescPuestoArea = @Rows[2].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            DescPuestoDep = @Rows[3].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li></ul>";
                        }
                        else if (!DescPuestoArea.Equals(@Rows[2].ToString()) && !DescPuestoDep.Equals(@Rows[3].ToString()))
                        {
                            DescPuestoCodigo += "</ul></li></ul>";
                            DescPuestoCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            DescPuestoArea = @Rows[2].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            DescPuestoDep = @Rows[3].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!DescPuestoArea.Equals(@Rows[2].ToString()))
                        {
                            DescPuestoCodigo += "</ul></li></ul>";
                            DescPuestoCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            DescPuestoArea = @Rows[2].ToString();
                            DescPuestoCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            DescPuestoDep = @Rows[3].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!DescPuestoDep.Equals(@Rows[3].ToString()))
                        {
                            DescPuestoCodigo += "</ul></li>";
                            DescPuestoCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            DescPuestoDep = @Rows[3].ToString();
                            DescPuestoCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            DescPuestoCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!DescPuestoCodigo.Equals(""))
                    {
                        DescPuestoCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var DescPuestomyHtmlString = new HtmlString(@DescPuestoCodigo);}
                    @DescPuestomyHtmlString
                </li>
                <li class="nivel1">
                    <a class="nivel1">Reglamentos <br />y Políticas</a>
                    @{string RegyPoliArea = ""; string RegyPoliDep = ""; }
                    @{string RegyPoliCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.RegyPoli.Rows)
                    {
                        if (RegyPoliArea.Equals(""))
                        {
                            RegyPoliCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            RegyPoliArea = @Rows[2].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            RegyPoliDep = @Rows[3].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!RegyPoliArea.Equals(@Rows[2].ToString()) && !RegyPoliDep.Equals(@Rows[3].ToString()))
                        {
                            RegyPoliCodigo += "</ul></li></ul>";
                            RegyPoliCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            RegyPoliArea = @Rows[2].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            RegyPoliDep = @Rows[3].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!RegyPoliArea.Equals(@Rows[2].ToString()))
                        {
                            RegyPoliCodigo += "</ul></li></ul>";
                            RegyPoliCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            RegyPoliArea = @Rows[2].ToString();
                            RegyPoliCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            RegyPoliDep = @Rows[3].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!RegyPoliDep.Equals(@Rows[3].ToString()))
                        {
                            RegyPoliCodigo += "</ul></li>";
                            RegyPoliCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            RegyPoliDep = @Rows[3].ToString();
                            RegyPoliCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            RegyPoliCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!RegyPoliCodigo.Equals(""))
                    {
                        RegyPoliCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var RegyPolimyHtmlString = new HtmlString(@RegyPoliCodigo);}
                    @RegyPolimyHtmlString
                </li>
                <li class="nivel1">
                    <a class="nivel1">Boletín</a>
                    @{string BoletinArea = ""; string BoletinDep = ""; }
                    @{string BoletinCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.Boletin.Rows)
                    {
                        if (BoletinArea.Equals(""))
                        {
                            BoletinCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            BoletinArea = @Rows[2].ToString();
                            BoletinCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            BoletinDep = @Rows[3].ToString();
                            BoletinCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!BoletinArea.Equals(@Rows[2].ToString()) && !BoletinDep.Equals(@Rows[3].ToString()))
                        {
                            BoletinCodigo += "</ul></li></ul>";
                            BoletinCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            BoletinArea = @Rows[2].ToString();
                            BoletinCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            BoletinDep = @Rows[3].ToString();
                            BoletinCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!BoletinArea.Equals(@Rows[2].ToString()))
                        {
                            BoletinCodigo += "</ul></li></ul>";
                            BoletinCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            BoletinArea = @Rows[2].ToString();
                            BoletinCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            BoletinDep = @Rows[3].ToString();
                            BoletinCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!BoletinDep.Equals(@Rows[3].ToString()))
                        {
                            BoletinCodigo += "</ul></li>";
                            BoletinCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            BoletinDep = @Rows[3].ToString();
                            BoletinCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            BoletinCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!BoletinCodigo.Equals(""))
                    {
                        BoletinCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var BoletinmyHtmlString = new HtmlString(@BoletinCodigo);}
                    @BoletinmyHtmlString
                </li>
                <li class="nivel1">
                    <a class="nivel1">Objetivos <br />tácticos</a>
                    @{string ObjTacArea = ""; string ObjTacDep = ""; }
                    @{string ObjTacCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.ObjTac.Rows)
                    {
                        if (ObjTacArea.Equals(""))
                        {
                            ObjTacCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ObjTacArea = @Rows[2].ToString();
                            ObjTacCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ObjTacDep = @Rows[3].ToString();
                            ObjTacCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ObjTacArea.Equals(@Rows[2].ToString()) && !ObjTacDep.Equals(@Rows[3].ToString()))
                        {
                            ObjTacCodigo += "</ul></li></ul>";
                            ObjTacCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ObjTacArea = @Rows[2].ToString();
                            ObjTacCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ObjTacDep = @Rows[3].ToString();
                            ObjTacCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ObjTacArea.Equals(@Rows[2].ToString()))
                        {
                            ObjTacCodigo += "</ul></li></ul>";
                            ObjTacCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ObjTacArea = @Rows[2].ToString();
                            ObjTacCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ObjTacDep = @Rows[3].ToString();
                            ObjTacCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ObjTacDep.Equals(@Rows[3].ToString()))
                        {
                            ObjTacCodigo += "</ul></li>";
                            ObjTacCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ObjTacDep = @Rows[3].ToString();
                            ObjTacCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            ObjTacCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!ObjTacCodigo.Equals(""))
                    {
                        ObjTacCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var ObjTacmyHtmlString = new HtmlString(@ObjTacCodigo);}
                    @ObjTacmyHtmlString
                </li>
                <li class="nivel1">
                    <a class="nivel1">Manuales</a>
                    @{string ManualesArea = ""; string ManualesDep = ""; }
                    @{string ManualesCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.Manuales.Rows)
                    {
                        if (ManualesArea.Equals(""))
                        {
                            ManualesCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ManualesArea = @Rows[2].ToString();
                            ManualesCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ManualesDep = @Rows[3].ToString();
                            ManualesCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ManualesArea.Equals(@Rows[2].ToString()) && !ManualesDep.Equals(@Rows[3].ToString()))
                        {
                            ManualesCodigo += "</ul></li></ul>";
                            ManualesCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ManualesArea = @Rows[2].ToString();
                            ManualesCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ManualesDep = @Rows[3].ToString();
                            ManualesCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ManualesArea.Equals(@Rows[2].ToString()))
                        {
                            ManualesCodigo += "</ul></li></ul>";
                            ManualesCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            ManualesArea = @Rows[2].ToString();
                            ManualesCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ManualesDep = @Rows[3].ToString();
                            ManualesCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!ManualesDep.Equals(@Rows[3].ToString()))
                        {
                            ManualesCodigo += "</ul></li>";
                            ManualesCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            ManualesDep = @Rows[3].ToString();
                            ManualesCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            ManualesCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!RegyPoliCodigo.Equals(""))
                    {
                        ManualesCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var ManualesmyHtmlString = new HtmlString(@ManualesCodigo);}
                    @ManualesmyHtmlString
                </li>

                <li class="nivel1">
                    <a class="nivel1">Status de <br />hallazgos</a>
                    @{string StatusHaArea = ""; string StatusHaDep = ""; }
                    @{string StatusHaCodigo = "";}
                    @foreach (System.Data.DataRow Rows in ViewBag.StatusHa.Rows)
                    {
                        if (StatusHaArea.Equals(""))
                        {
                            StatusHaCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            StatusHaArea = @Rows[2].ToString();
                            StatusHaCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            StatusHaDep = @Rows[3].ToString();
                            StatusHaCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!StatusHaArea.Equals(@Rows[2].ToString()) && !StatusHaDep.Equals(@Rows[3].ToString()))
                        {
                            StatusHaCodigo += "</ul></li></ul>";
                            StatusHaCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            StatusHaArea = @Rows[2].ToString();
                            StatusHaCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            StatusHaDep = @Rows[3].ToString();
                            StatusHaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!StatusHaArea.Equals(@Rows[2].ToString()))
                        {
                            StatusHaCodigo += "</ul></li></ul>";
                            StatusHaCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                            StatusHaArea = @Rows[2].ToString();
                            StatusHaCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            StatusHaDep = @Rows[3].ToString();
                            StatusHaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else if (!StatusHaDep.Equals(@Rows[3].ToString()))
                        {
                            StatusHaCodigo += "</ul></li>";
                            StatusHaCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                            StatusHaDep = @Rows[3].ToString();
                            StatusHaCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                        else
                        {
                            StatusHaCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                        }
                    }
                    @if (!StatusHaCodigo.Equals(""))
                    {
                        StatusHaCodigo += "</ul></li></ul></li></ul>";
                    }
                    @{var StatusHamyHtmlString = new HtmlString(@StatusHaCodigo);}
                    @StatusHamyHtmlString
                </li>
            </ul>

        </div>
        <header>
            <img class="sgc" src="~/Logos/SGC.png"/>
            <img class="inari" src="~/Logos/logo.png"/>
        </header>
        <section class="cuerpo">
            <div class="piramide">
                <div class="manual">
                    <ul class="tittle">
                        <li>
                            <a href="">Manual de Calidad</a>
                        </li>
                    </ul>
                </div>
                <div id="menuhor" class="politicas">
                    <ul>
                        <li class="niv1">
                            <a class="niv1  tittle">Políticas y Objetivos <br /> de Calidad</a>
                            @{string PoliObjArea = ""; string PoliObjDep = ""; }
                            @{string PoliObjCodigo = "";}
                            @foreach (System.Data.DataRow Rows in ViewBag.PoliObj.Rows)
                            {
                                if (PoliObjArea.Equals(""))
                                {
                                    PoliObjCodigo += "<ul class=\"niv2\"><li><a>" + @Rows[2].ToString() + "</a>";
                                    PoliObjArea = @Rows[2].ToString();
                                    PoliObjCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    PoliObjDep = @Rows[3].ToString();
                                    PoliObjCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!PoliObjArea.Equals(@Rows[2].ToString()) && !PoliObjDep.Equals(@Rows[3].ToString()))
                                {
                                    PoliObjCodigo += "</ul></li></ul>";
                                    PoliObjCodigo += "<li><a>" + @Rows[2].ToString() + "</a>";
                                    PoliObjArea = @Rows[2].ToString();
                                    PoliObjCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    PoliObjDep = @Rows[3].ToString();
                                    PoliObjCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!PoliObjArea.Equals(@Rows[2].ToString()))
                                {
                                    PoliObjCodigo += "</ul></li></ul>";
                                    PoliObjCodigo += "<li class=\"niv2\"><a>" + @Rows[2].ToString() + "</a>";
                                    PoliObjArea = @Rows[2].ToString();
                                    PoliObjCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    PoliObjDep = @Rows[3].ToString();
                                    PoliObjCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!PoliObjDep.Equals(@Rows[3].ToString()))
                                {
                                    PoliObjCodigo += "</ul></li>";
                                    PoliObjCodigo += "<li><a>" + @Rows[3].ToString() + "</a>";
                                    PoliObjDep = @Rows[3].ToString();
                                    PoliObjCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else
                                {
                                    PoliObjCodigo += "<li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                            }
                            @if (!PoliObjCodigo.Equals(""))
                            {
                                PoliObjCodigo += "</ul></li></ul></li></ul>";
                            }
                            @{var PoliObjmyHtmlString = new HtmlString(@PoliObjCodigo);}
                            @PoliObjmyHtmlString
                        </li>
                    </ul>
                </div>
                <div id="menuhor"  class="procedimientos">
                    <ul>
                        <li class="niv1">
                            <a class="niv1  tittle">Procedimientos</a>
                            @{string ProcArea = ""; string ProcDep = ""; }
                            @{string ProcCodigo = "";}
                            @foreach (System.Data.DataRow Rows in ViewBag.Proc.Rows)
                            {
                                if (ProcArea.Equals(""))
                                {
                                    ProcCodigo += "<ul class=\"niv2\"><li><a>" + @Rows[2].ToString() + "</a>";
                                    ProcArea = @Rows[2].ToString();
                                    ProcCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ProcDep = @Rows[3].ToString();
                                    ProcCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ProcArea.Equals(@Rows[2].ToString()) && !ProcDep.Equals(@Rows[3].ToString()))
                                {
                                    ProcCodigo += "</ul></li></ul>";
                                    ProcCodigo += "<li><a>" + @Rows[2].ToString() + "</a>";
                                    ProcArea = @Rows[2].ToString();
                                    ProcCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ProcDep = @Rows[3].ToString();
                                    ProcCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ProcArea.Equals(@Rows[2].ToString()))
                                {
                                    ProcCodigo += "</ul></li></ul>";
                                    ProcCodigo += "<li class=\"niv2\"><a>" + @Rows[2].ToString() + "</a>";
                                    ProcArea = @Rows[2].ToString();
                                    ProcCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ProcDep = @Rows[3].ToString();
                                    ProcCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ProcDep.Equals(@Rows[3].ToString()))
                                {
                                    ProcCodigo += "</ul></li>";
                                    ProcCodigo += "<li><a>" + @Rows[3].ToString() + "</a>";
                                    ProcDep = @Rows[3].ToString();
                                    ProcCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else
                                {
                                    ProcCodigo += "<li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                            }
                            @if (!ProcCodigo.Equals(""))
                            {
                                ProcCodigo += "</ul></li></ul></li></ul>";
                            }
                            @{var ProcmyHtmlString = new HtmlString(@ProcCodigo);}
                            @ProcmyHtmlString
                        </li>
                    </ul>
                </div>
                <div id="menuhor"  class="instructivo">
                    <ul>
                        <li class="niv1">
                            <a class="niv1  tittle">Instructivo</a>
                            @{string InstArea = ""; string InstDep = ""; }
                            @{string InstCodigo = "";}
                            @foreach (System.Data.DataRow Rows in ViewBag.Inst.Rows)
                            {
                                if (InstArea.Equals(""))
                                {
                                    InstCodigo += "<ul class=\"niv2\"><li><a>" + @Rows[2].ToString() + "</a>";
                                    InstArea = @Rows[2].ToString();
                                    InstCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    InstDep = @Rows[3].ToString();
                                    InstCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!InstArea.Equals(@Rows[2].ToString()) && !InstDep.Equals(@Rows[3].ToString()))
                                {
                                    InstCodigo += "</ul></li></ul>";
                                    InstCodigo += "<li><a>" + @Rows[2].ToString() + "</a>";
                                    InstArea = @Rows[2].ToString();
                                    InstCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    InstDep = @Rows[3].ToString();
                                    InstCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!InstArea.Equals(@Rows[2].ToString()))
                                {
                                    InstCodigo += "</ul></li></ul>";
                                    InstCodigo += "<li class=\"niv2\"><a>" + @Rows[2].ToString() + "</a>";
                                    InstArea = @Rows[2].ToString();
                                    InstCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    InstDep = @Rows[3].ToString();
                                    InstCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!InstDep.Equals(@Rows[3].ToString()))
                                {
                                    InstCodigo += "</ul></li>";
                                    InstCodigo += "<li><a>" + @Rows[3].ToString() + "</a>";
                                    InstDep = @Rows[3].ToString();
                                    InstCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else
                                {
                                    InstCodigo += "<li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li></ul>";
                                }
                            }
                            @if (!InstCodigo.Equals(""))
                            {
                                InstCodigo += "</ul></li></ul></li></ul>";
                            }
                            @{var InstmyHtmlString = new HtmlString(@InstCodigo);}
                            @InstmyHtmlString
                        </li>
                    </ul>
                </div>
                <div id="menuhor"  class="ForyReg">
                    <ul>
                        <li class="niv1">
                            <a class="niv1  tittle">Formatos y Registros</a>
                            @{string ForRegArea = ""; string ForRegDep = ""; }
                            @{string ForRegCodigo = "";}
                            @foreach (System.Data.DataRow Rows in ViewBag.ForReg.Rows)
                            {
                                if (ForRegArea.Equals(""))
                                {
                                    ForRegCodigo += "<ul class=\"niv2\"><li><a>" + @Rows[2].ToString() + "</a>";
                                    ForRegArea = @Rows[2].ToString();
                                    ForRegCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ForRegDep = @Rows[3].ToString();
                                    ForRegCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ForRegArea.Equals(@Rows[2].ToString()) && !ForRegDep.Equals(@Rows[3].ToString()))
                                {
                                    ForRegCodigo += "</ul></li></ul>";
                                    ForRegCodigo += "<li><a>" + @Rows[2].ToString() + "</a>";
                                    ForRegArea = @Rows[2].ToString();
                                    ForRegCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ForRegDep = @Rows[3].ToString();
                                    ForRegCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ForRegArea.Equals(@Rows[2].ToString()))
                                {
                                    ForRegCodigo += "</ul></li></ul>";
                                    ForRegCodigo += "<li class=\"niv2\"><a>" + @Rows[2].ToString() + "</a>";
                                    ForRegArea = @Rows[2].ToString();
                                    ForRegCodigo += "<ul class=\"niv3\"><li><a>" + @Rows[3].ToString() + "</a>";
                                    ForRegDep = @Rows[3].ToString();
                                    ForRegCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else if (!ForRegDep.Equals(@Rows[3].ToString()))
                                {
                                    ForRegCodigo += "</ul></li>";
                                    ForRegCodigo += "<li><a>" + @Rows[3].ToString() + "</a>";
                                    ForRegDep = @Rows[3].ToString();
                                    ForRegCodigo += "<ul class=\"niv4\"><li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                                else
                                {
                                    ForRegCodigo += "<li><a href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                                }
                            }
                            @if (!StatusHaCodigo.Equals(""))
                            {
                                ForRegCodigo += "</ul></li></ul></li></ul>";
                            }
                            @{var ForRegmyHtmlString = new HtmlString(@ForRegCodigo);}
                            @ForRegmyHtmlString
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider">
                <img src="~/Imagenes/que es la norma.png"/>
            </div>
        </section>
        <section class="externos">
            <div id="menu">
                <ul>
                    <li class="nivel1">
                        <a class="nivel1" href="">Documentos Externos</a>
                        @{string DocExtArea = ""; string DocExtDep = ""; }
                        @{string DocExtCodigo = "";}
                        @foreach (System.Data.DataRow Rows in ViewBag.DocExt.Rows)
                        {
                            if (DocExtArea.Equals(""))
                            {
                                DocExtCodigo += "<ul class=\"nivel2\"><li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                                DocExtArea = @Rows[2].ToString();
                                DocExtCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                                DocExtDep = @Rows[3].ToString();
                                DocExtCodigo += "<ul class=\"nivel4\"><li  class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                            }
                            else if (!DocExtArea.Equals(@Rows[2].ToString()) && !DocExtDep.Equals(@Rows[3].ToString()))
                            {
                                DocExtCodigo += "</ul></li></ul>";
                                DocExtCodigo += "<li class=\"nivel2\" ><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                                DocExtArea = @Rows[2].ToString();
                                DocExtCodigo += "<ul class=\"nivel3\"><li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                                DocExtDep = @Rows[3].ToString();
                                DocExtCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                            }
                            else if (!DocExtArea.Equals(@Rows[2].ToString()))
                            {
                                DocExtCodigo += "</ul></li></ul>";
                                DocExtCodigo += "<li class=\"nivel2\"><a class=\"nivel2\">" + @Rows[2].ToString() + "</a>";
                                DocExtArea = @Rows[2].ToString();
                                DocExtCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                                DocExtDep = @Rows[3].ToString();
                                DocExtCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a  class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                            }
                            else if (!DocExtDep.Equals(@Rows[3].ToString()))
                            {
                                DocExtCodigo += "</ul></li>";
                                DocExtCodigo += "<li class=\"nivel3\"><a class=\"nivel3\">" + @Rows[3].ToString() + "</a>";
                                DocExtDep = @Rows[3].ToString();
                                DocExtCodigo += "<ul class=\"nivel4\"><li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                            }
                            else
                            {
                                DocExtCodigo += "<li class=\"nivel4\"><a class=\"nivel4\" href=\"" + @Rows[1].ToString() + "\">" + @Rows[0].ToString() + "</a></li>";
                            }
                        }
                        @if (!DocExtCodigo.Equals(""))
                        {
                            DocExtCodigo += "</ul></li></ul></li></ul>";
                        }
                        @{var DocExtmyHtmlString = new HtmlString(@DocExtCodigo);}
                        @DocExtmyHtmlString
                    </li>
                </ul>

            </div>
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - INARI Inteligencia Laboral</p>
        </footer>
    </body>
</html>