@model SGC.Models.T_Interfaz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_Interfaz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RutaBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutaBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoInari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoInari)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoCalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoCalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navegacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navegacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NavHover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NavHover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NavFont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NavFont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NavFontHover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NavFontHover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piramide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piramide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PirFont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PirFont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PirHover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PirHover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PirFontHover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PirFontHover)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Interfaz }) |
    @Html.ActionLink("Back to List", "Index")
</p>
