@model IEnumerable<SGC.Models.T_Comunicados>

@{
    ViewBag.Title = "Index";
}

<h2>Comunicados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    <th>
        <label>Fecha Alta</label>
    </th>
    <th>
        <label>Fecha Inicio</label>
    </th>
    <th>
        <label>Fecha Fin</label>
    </th>
    <th>
        <label>Ruta Fisíca</label>
    </th>
    <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruta_Imagen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Comunicado }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Comunicado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Comunicado })
        </td>
    </tr>
}

</table>
